GOOGLE_ADS_CREDENTIALS_PATH=./google_ads_token.json
GOOGLE_ADS_DEVELOPER_TOKEN=seu_developer_token
GOOGLE_ADS_LOGIN_CUSTOMER_ID=9237732698
# GOOGLE_ADS_API_VERSION=v18
# MCP_API_KEY=
# ALLOWED_CUSTOMER_IDS=
# PORT=
